%p
  Hi,

%p A strange man brought some eat.
%p
  -# Someone said that you'd like to take a 2nd menu.
  So, come to get it!

%p Also, please take some money with you, if you didn't "donate" yet.

%p Bon appetit!
