.hints
  - if current_user.can_pay_for?(last_order)
    .alert.alert-success
      %button.close{type: 'button', :'data-dismiss' => 'alert', :'aria-label' => 'Close'}
        %span{:'aria-hidden' => 'true'} ×
      %h3 Pay from balance is available now!
      %p You have sufficient funds to pay for the order from your balance.
      %p Would you like to pay it now?
      %p= link_to_pay_from_balance 'Yes. Pay from my balance!', last_order

  - if current_user.cannot_pay_for_his_order?(last_order)
    .alert.alert-info
      %button.close{type: 'button', :'data-dismiss' => 'alert', :'aria-label' => 'Close'}
        %span{:'aria-hidden' => 'true'} ×
      %h3 Pay from balance is available now!
      %p You're able to add funds to your balance and pay for lunch every day.
      %p
        We would recommend to start using that feature.
        Sooner or later we will turn "Pay with cash" feature into deprecated and then drop its support.

