.row.margin-bottom
  .col-md-12
    %h1 Vendors

.row.subnav
  .col-md-12
    - if can? :create, Vendor
      = link_to 'Add Vendor', new_vendor_path, class: 'btn btn-success'

%table.table
  %thead
    %tr
      %th= Vendor.human_attribute_name :name
      %th

  %tbody
    - @vendors.each do |vendor|
      %tr
        %td= vendor.name
        %td
          .pull-right
            - if can? :update, vendor
              = link_to 'Edit', edit_vendor_path(vendor), class: 'btn btn-default'

