.panel.panel-default
  .panel-heading
    = title 'Menu Sets'

  .panel-body
    - DictionaryPresenter.new(MenuSetPolicy.new, @menu_sets).as_dictionary.each do |date, menu_sets|
      %section.orders
        %header.orders-header
          %h3= formatted_date date
        %ul
          - menu_sets.each do |menu_set|
            %li{id: dom_id(menu_set)}
              .row
                .col-md-10
                  = menu_set.name
                .col-md-2
                  .pull-right
                    - if can? :edit, menu_set
                      = link_to 'Edit', edit_menu_set_path(menu_set), class: 'btn btn-default'
