/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import 'bootstrap';
@import 'font-awesome';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body > .container {
  padding-top: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

  p.text-muted {
    margin-top: 23px;
  }
}

.counters {
  margin-bottom: 60px;
}

[name*= "i)"] {
  display: inline-block;
}

[name*="(1i)"] {
  width: 100px;
}

[name*="(2i)"] {
  width: 150px;
}

[name*="(3i)"], [name*="(4i)"], [name*="(5i)"] {
  width: 70px;
}

.form-splitter {
  margin-bottom: 40px;
}

.nav .active a {
  border-bottom: 4px solid #47a447;
}
