.bg-aqua {
  background-color: #00c0ef !important;
}

.bg-red {
  background-color: #dd4b39 !important;
}

.bg-green {
  background-color: #00a65a !important;
}

.bg-purple {
  background-color: #605ca8 !important;
}

.bg-red, .bg-green, .bg-purple, .bg-aqua {
  color: #fff !important;
}
