
ul {
  list-style: none;
}

section.orders {
  ul {
    li {
      height: 52px;
      line-height: 52px;
      border-bottom: 1px solid #e6e6e6;

      .description-container {
        padding-left: 30px;
      }
    }
  }
}
