%i.fa.fa-credit-card.bg-green
.timeline-item
  %span.time
    = fa_icon 'clock-o'
    = l activity.created_at, format: :short

  %h3.timeline-header.no-border
    %strong= activity.user.decorate.full_name
    has paid for the lunch
    %strong.text-success
      = activity.data
      Lei
