%h1= t('activity.feed')

%ul.timeline
  - @activities.each do |activity|
    %li{class: cycle('', 'timeline-inverted')}= render "activities/#{activity.action}_activity", activity: activity

= paginate @activities
